---
layout: default
---

<div class="heading">{{ site.title }}</div>
<hr>
<p>Hey, I'm Matthew Fitch, and this is where I share my thoughts, ideas, and projects.</p>

<p>I'm a software engineer, based in Bangor, Northern Ireland.</p>

<p>I like building things, and hope to share more of my work here over time.</p>

<p>Feel free to explore and reach out if you'd like to connect!</p>

<div class="heading">Posts</div>
<hr>
{% include post-list.html %}

<!-- <div class="heading">Projects</div>
<hr>
Ongoing...: <a href="{{ '/projects/' | relative_url }}">Projects</a><br> -->

<hr>
<center ><span class=".sun">*</span></center>